.img-cadastro {
    height: 115vh;
    background-image: url('../../assets/bg-cadastro.png');
    background-position: left;
    background-size: cover;
    overflow: hidden;
}

.cadastro {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 5.5rem 11rem 0 9rem;
    border-radius: 0 0 9rem 0;
    width: 45%;
    height: 112vh;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4.5rem;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: auto;
}

.button-box {
    display: flex;
    gap: 1.4rem;
    margin-top: auto;
}

.link-box {
    margin-bottom: 2.5rem;
    color: var(--cinza-azulado);
    font-size: 1.2rem;
}

span {
    font-size: inherit;
}

