.placeholder-base {
    width: 34.4rem;
    height: 34.4rem;
    background-image: url('../../assets/placeholder.svg');
    background-size: cover;
    cursor: pointer;
}

.placeholder-texto {
    color: var(--branco);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin-top: 80%;
}