* {
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    /* Cores */
    --laranja-intenso: #D13201;
    --laranja-escuro: #AA330F;
    --laranja-claro: #FB3B00;
    --areia: #DA803C;

    /* Fontes */
    --baloo: 'Baloo 2', cursive;
    --montserrat: 'Montserrat', sans-serif;
}